{% extends 'news_app/layouts/base.html' %}
{% load static %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block content %}
    <!-- Main News Start-->
    <div class="main-news pt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        {% for article in page_obj %}
                            <div class="col-md-3 pb-4">
                                <div class="mn-img">
                                    <img style="width: 255px;height: 170px;" src="{{ article.get_image_url }}" alt="{{ article.title }}"/>
                                    <div class="mn-title">
                                        <a href="{% url 'view' article_id=article.id %}">{{ article.title }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main News End-->
    {% include 'news_app/components/pagination.html' %}
{% endblock %}